@import "tailwindcss";

@theme {
  --color-linkedin-blue: #0077B5;
  --color-linkedin-lighter: #00A0DC;
  --color-linkedin-darker: #004471;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}